.canvas_div_pdf{
    width: 100%;
    padding: 10px;
    .item{
        width: 100%;

        .naac-table{
            width: 100%;
            margin-top: 10px;
            // border: 1px solid black;
        }
    }
}