.about-us{
    background: #f4e6e9;
    border-radius: 7px;
    min-height: 230px;
    width: 100%;
    padding: 10px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .title{
        color: #d4565d;
        font-weight: 600;
    }

    p{
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
    }
}
.summ-head{
    font-weight: 600;
    color: #174a84;
    font-size: 20px;
}